<%if(user == null){%>
    <%- include('../partials/header', {title:"Design Lab 2.0"})-%>
<%}else {%>
    <%- include('../partials/userHeader', {title:"Design Lab 2.0"})-%>
<%}%>
    <h1 class="fs-1">Every Print is stored Here!</h1>
    <%for(print in prints){%>
        <div class="b-example-divider"></div>
        <div class="hero hero-background">
            <div class="container col-xxl-8 px-4 py-5 hero">
                <div class="row flex-lg-row-reverse align-items-center g-5 py-5 hero border shadow-lg rounded hero"   style="background-color: #1d3557;">
                    <div class="col-lg-6 hero"> 
                        <h1 class="display-5 fw-bold lh-1 mb-3" style="color:#a8dadc">
                            <%=prints[print]["name"]%>
                        </h1>
                        <p class="lead fs-4" style="color:#a8dadc">
                            <%=prints[print]["description"]%>
                        </p>
                        <p class="lead fs-4" style="color:#a8dadc">Printed on <%=prints[print]["printer"]%> by <%=prints[print]["studentName"]%>
                        </p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start hero">
                            <a href="/prints/<%=prints[print]["name"]%>" type="button" class="btn btn-dark btn-lg px-4
                                me-md-2"> More Info</a>
                        </div>
                    </div>
                    <div class="col-10 col-sm-8 col-lg-6 hero">
                        <% if(prints[print]["photo"].length> 20){ %>
                            <img src="<%=prints[print]["photo"]%>" class="d-block mx-lg-auto img-fluid" alt="Technical
                            Difficulties" width="700" height="500" loading="lazy" style="color:#a8dadc">
                            <%} else{ %>
                                <img class="d-block mx-lg-auto img-fluid" alt="Technical Difficulties" width="700"
                                    height="500" loading="lazy" src="../images/<%=prints[print]["photo"]%>">
                                <%}%>
                    </div>
                </div>
            </div>
        </div>
        <hr class="hr divid">
        <div class="b-example-divider"></div>
        <%}%>
            <%- include('../partials/footer') -%>

        