<%if(user == null){%>
  <%- include('../partials/header', {title:"Design Lab 2.0"})-%>
<%}else {%>
  <%- include('../partials/userHeader', {title:"Design Lab 2.0"})-%>
<%}%>


<!-- This is where I put all the specifics about each print -->
<div>
  <% if(print["photo"].length > 20){ %>
    <img class="rounded-lg-3" src="<%=print["photo"]%>">
  <%} else{ %>
    <img class="rounded-lg-3" src="images/<%=print["photo"]%>">
  <%}%>
</div>

<span  class="hidden">  </span>               

<!-- console.log(print) -->
<table class="table  table-hover">
  <thead>
      <td colspan="2" class="text-center" style="color:#1d3557; background-color:#a8dadc;"><%=print["name"]%></td>
  </thead>
  <tbody>
    <tr>
      <td style="color:#a8dadc; background-color:#1d3557;">Description:</td>
      <td style="color:#a8dadc; background-color:#1d3557;"><%=print["description"]%></td>
    </tr>
    <tr>
      <td style="color:#1d3557; background-color:#a8dadc;">Printer:</td>
      <td style="color:#1d3557; background-color:#a8dadc;"><%=print["printer"]%></td>
    </tr>
    <tr>
      <td style="color:#a8dadc; background-color:#1d3557;">Date</td>
      <td style="color:#a8dadc; background-color:#1d3557;"><%= print["date"]%></td>
      

    </tr>
    <tr>
      <td style="color:#1d3557; background-color:#a8dadc;">Estimated time at 100%</td>
      <td style="color:#1d3557; background-color:#a8dadc;"><%=Math.floor(print["time"]/60)%> Hours <%=print["time"]%60%> minutes </td>
    </tr>

    <tr>
        <td style="color:#a8dadc; background-color:#1d3557;">Infill</td>
        <td style="color:#a8dadc; background-color:#1d3557;"><%=print["infill"]%>%</td>
    </tr>
    <tr>
      <td style="color:#1d3557; background-color:#a8dadc;">Filament Width</td>
      <td style="color:#1d3557; background-color:#a8dadc;"><%=print["width"]%></td>
    </tr>
    <tr>
      <td colspan="2"  style="color:#a8dadc; background-color:#1d3557;"><a href="<%=print["link"]%>" target="_blank">Link</a></td>
    </tr>
  </tbody>
</table>
<button class="btn btn-danger"><a href="/prints/edit/<%=print["name"]%>">Edit</a></button>
<hr>
<%- include('../partials/footer')-%>
<%- include('../partials/body')-%>
