<%- include('../partials/header', {title:"print[name]"}) -%>



<!-- This is where I put all the specifics about each print -->
<div>
  <% if(print["photo"].length > 20){ %>
    <img class="rounded-lg-3" src="<%=print["photo"]%>">
  <%} else{ %>
    <img class="rounded-lg-3" src="images/<%=print["photo"]%>">
  <%}%>
</div>

<span  class="hidden">  </span>

<!-- console.log(print) -->
<table class="table table-striped table-primary table-hover">
  <thead>
      <td colspan="2"><%=print["name"]%></td>
  </thead>
  <tbody>
    <tr>
      <td>Description:</td>
      <td><%=print["description"]%></td>
    </tr>
    <tr>
      <td>Printer:</td>
      <td><%=print["printer"]%></td>
    </tr>
    <tr>
      <td>Date</td>
      <td><%= new Date(print["date"].split("/")[0], print["date"].split("/")[1], print["date"].split("/")[2], print["date"].split("/")[3], print["date"].split("/")[4])%></td>
      

    </tr>
    <tr>
      <td>Estimated time at 100%</td>
      <td><%=Math.floor(print["time"]/60)%> Hours <%=print["time"]%60%> minutes </td>
    </tr>

    <tr>
        <<td>Infill</td>
        <td><%=print["infill"]%>%</td>
    </tr>
    <tr>
      <td>Filament Width</td>
      <td><%=print["width"]%></td>
    </tr>
    <tr>
      <td colspan="2"><a href="<%=print["link"]%>" target="_blank">Link</a></td>
    </tr>
  </tbody>
</table>
