<%if(user == null){%>
    <%- include('../partials/header', {title:"Design Lab 2.0"})-%>
<%}else {%>
    <%- include('../partials/userHeader', {title:"Design Lab 2.0"})-%>
<%}%>

    <h1 class="fs-1 text-justify text-center">Please Report the error below <br>The error will added to the printer's error list</h1>

    <form action="/report" method="POST">
        <label for="printer">Which Printer?</label>
        <select multiple class="form-control" id="printer" name ="printer">
            <%for(printer in printers){%>
                <option value="<%=printer%>"><%=printer%></option>
            <%}%>

    
        </select>
        <label for="errormsg">Please describe the error as best you can</label>
        <input type="text" name="errormsg" value=""><br>
    
        <input type="submit" value="Thank you for submitting!">
    </form>

    <h1 class="fs-2 text-justify text-center reportMessage"> Thank you for Reporting! <br> We will get working on the error as soon as possible.</h1>

<%- include('../partials/footer') -%>